In [ ]:
import pandas as pd
import os

analise_dez = pd.read_excel('Vendas - Dez.xlsx')
analise = pd.read_excel('Vendas.xlsx')
#
#
analise_dez['Comissao'] = analise_dez['Valor Final'] * 0.05
analise['Comissao'] = analise['Valor Final'] * 0.05
#
#
analise_dez.loc[:, "Imposto"] = 0
analise.loc[:, "Imposto"] = 0
#
#

In [4]:
display(analise_dez.head(3))
display(analise.head(3))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50,0
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45,0
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30,0

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.9,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.0,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.4,0

In [8]:
analise = analise.drop("Imposto", axis=1)
display(analise_dez.head())
display(analise.head())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570,28.50
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269,13.45
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726,36.30
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250,12.50
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276,13.80

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55

In [9]:
analise = analise.drop(0, axis=0)
display(analise)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80

In [10]:
analise = analise.append(analise_dez)

/tmp/ipykernel_6398/3379864819.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  analise = analise.append(analise_dez)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30

In [11]:
display(analise.head(5))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40

In [13]:
#ADD COLUNA

analise_py = pd.read_excel('Vendas.xlsx')
analise_py_dez = pd.read_excel('Vendas - Dez.xlsx')

analise_py.loc[:, 'Comissao'] = analise_py['Valor Final'] * 0.05
analise_py.loc[:,  'Imposto'] = 0

display(analise_py_dez.head(3))
display(analise_py.head(3))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.9,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.0,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.4,0

In [14]:
#ADD LINHA

analise_py_concat = pd.concat([analise_py, analise_py_dez])
display(analise_py_concat)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

In [23]:
# Deletar linhas e colunas vazias
analise_py_concat = analise_py_concat.dropna(how='all', axis=1)

# Deletar linhas que possuem pelo menos um valor vazio
analise_py_concat = analise_py_concat.dropna()

# Preencher valores vazios 
# Preencher com a média da coluna
analise_py_concat['Comissao'] = analise_py_concat['Comissao'].fillna(analise_py_concat['Comissao'].mean())
analise_py_concat['Comissao'] = analise_py_concat['Comissao'].fillna(analise_py_concat['Valor Final'] * 0.05)
analise_py_concat['Imposto'] = analise_py_concat['Imposto'].fillna(analise_py_concat['Imposto'].mean())

In [28]:
display(analise_py_concat[:7092:-1])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0.0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0.0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0.0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0.0
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0.0
...,...,...,...,...,...,...,...,...,...
7097,4848,2019-01-27,Shopping Center Interlagos,Polo Linho,1,176,176,8.80,0.0
7096,4848,2019-01-27,Shopping Center Interlagos,Camisa Liso,3,105,315,15.75,0.0
7095,4847,2019-01-27,Bourbon Shopping SP,Mochila,5,270,1350,67.50,0.0
7094,4847,2019-01-27,Bourbon Shopping SP,Sapato Xadrez,2,368,736,36.80,0.0
7093,4847,2019-01-27,Bourbon Shopping SP,Meia,3,30,90,4.50,0.0

In [37]:
filtrar  = analise_py_concat.loc[analise_py_concat['Data'] == '2019-12-26']
filtrar2 = filtrar.loc[filtrar['Produto'] == 'Cinto Liso']
filtrar_7051 = analise_py_concat.loc[7051]
display(filtrar_7051)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
7051,4820,2019-01-26,Novo Shopping Ribeirão Preto,Cinto,1,200,200,10.0,0.0
7051,69971,2019-12-26,Shopping Recife,Cinto Liso,2,209,418,20.9,0.0

In [47]:
#
desp_count = analise_py_concat['ID Loja'].value_counts()
display(desp_count)
#
display(analise_py_concat.describe())
#

Shopping Vila Velha                 4234
Palladium Shopping Curitiba         4210
Norte Shopping                      4179
Rio Mar Shopping Fortaleza          4118
Bourbon Shopping SP                 4116
Iguatemi Campinas                   4108
Rio Mar Recife                      4099
Shopping Center Leste Aricanduva    4093
Shopping SP Market                  4080
Shopping Ibirapuera                 4051
Novo Shopping Ribeirão Preto        4049
Ribeirão Shopping                   4048
Salvador Shopping                   4030
Shopping Center Interlagos          4021
Shopping Iguatemi Fortaleza         4021
Center Shopping Uberlândia          4013
Shopping Eldorado                   4002
Passei das Águas Shopping           4000
Shopping União de Osasco            3995
Iguatemi Esplanada                  3980
Shopping Barra                      3962
Shopping Morumbi                    3960
Parque Dom Pedro Shopping           3902
Shopping Recife                     3891
Shopping Midway Mall                3837
Name: ID Loja, dtype: int64

,Código Venda,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
count,100999.000000,100999.000000,100999.000000,100999.000000,100999.000000,100999.0
mean,34923.310429,2.165249,191.861018,414.628491,20.731425,0.0
std,20227.910360,1.257710,145.414462,434.093054,21.704653,0.0
min,1.000000,1.000000,30.000000,30.000000,1.500000,0.0
25%,17461.000000,1.000000,100.000000,156.000000,7.800000,0.0
50%,34842.000000,2.000000,155.000000,274.000000,13.700000,0.0
75%,52502.000000,3.000000,248.000000,524.000000,26.200000,0.0
max,69997.000000,5.000000,750.000000,3750.000000,187.500000,0.0

In [53]:
valor_sum = analise_py_concat[ ['Produto', 'Valor Final'] ].groupby('Produto').sum()
valor_med = analise_py_concat[ ['Produto', 'Valor Final'] ].groupby('Produto').mean()
valor_std = analise_py_concat[ ['Produto', 'Valor Final'] ].groupby('Produto').std()
display(valor_sum.head(2))
display(valor_med.head(2))
display(valor_std.head(2))

                 Valor Final
Produto
Bermuda               272250
Bermuda Estampa       291694

                 Valor Final
Produto
Bermuda           326.830732
Bermuda Estampa   363.708229

                 Valor Final
Produto
Bermuda           187.525105
Bermuda Estampa   212.921060

In [54]:
gerente = pd.read_excel('Gerentes.xlsx')

analise_py_concat = analise_py_concat.merge(gerente)
display(analise_py_concat)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0,Salvador
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0,Salvador
3,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,0.0,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,0.0,Salvador
...,...,...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,9.60,0.0,Mateus
100995,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,64.00,0.0,Mateus
100996,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,35.40,0.0,Mateus
100997,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,108.00,0.0,Mateus
100998,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,89.50,0.0,Mateus

In [65]:
lista_preco = [ 500, 1500, 2000, 100, 25 ]
#
nova_lista_preco = []
#
for preco in lista_preco:
    nova_lista_preco.append(preco * 2)
display(nova_lista_preco)

imposto = []
#
for preco in lista_preco:
    if preco > 1000:
        imposto.append(preco * 0.5)
display(imposto)

[1000, 3000, 4000, 200, 50]

[750.0, 1000.0]

In [66]:
# Fazer preco * 2 para cada Preço dentro da lista_preco
nova_lista_preco2 = [ preco * 2 for preco in lista_preco ]
display(nova_lista_preco2)

imposto2 = [ preco * 0.5 for preco in lista_preco if preco > 1000 ]
display(imposto2)

[1000, 3000, 4000, 200, 50]

[750.0, 1000.0]

In [74]:
empresas = ["ABEV3", "AZUL4", "BTOW3", "B3SA3", "BBSE3", "BRML3", "BBDC4", "BRAP4", "BBAS3", "BRKM5", "BRFS3", "BPAC11", "CRFB3", "CCRO3", "CMIG4", "HGTX3", "CIEL3", "COGN3", "CPLE6", "CSAN3", "CPFE3", "CVCB3", "CYRE3", "ECOR3", "ELET6", "EMBR3", "ENBR3", "ENGI11", "ENEV3", "EGIE3", "EQTL3", "EZTC3", "FLRY3", "GGBR4", "GOAU4", "GOLL4", "NTCO3", "HAPV3", "HYPE3", "IGTA3", "GNDI3", "ITSA4", "ITUB4", "JBSS3", "JHSF3", "KLBN11", "RENT3", "LCAM3", "LAME4", "LREN3", "MGLU3", "MRFG3", "BEEF3", "MRVE3", "MULT3", "PCAR3", "PETR4", "BRDT3", "PRIO3", "QUAL3", "RADL3", "RAIL3", "SBSP3", "SANB11", "CSNA3", "SULA11", "SUZB3", "TAEE11", "VIVT3", "TIMS3", "TOTS3", "UGPA3", "USIM5", "VALE3", "VVAR3", "WEGE3", "YDUQ3"]
'''
fundamentos = {
   "ABEV3": balanco_dre_abev3,
   "MGLU3": balanco_dre_mglu3
}

display(len(empresas))
'''
fundamentos = {}
arquivos = os.listdir("balancos")

for arquivo in arquivos:
    nome = arquivo[-9: -4]
    if "11" in nome:
        nome = arquivos[-10: -4]
    if nome in empresas:
        balanco = pd.read_excel(f"balancos/{arquivo}", sheet_name=0)
        dre = pd.read_excel(f"balancos/{arquivo}", sheet_name=1)
        display(balanco)
        display(dre)
        break

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.