In [70]:
import pandas as pd
import matplotlib.pyplot as plt
import mplcyberpunk

cores_brasil = ['verde','amarelo','azul','branco']
display(cores_brasil[1:3])
display(cores_brasil[-2])
display(cores_brasil[::-1])

analise = pd.read_excel("Vendas.xlsx")
display(analise.head())

['amarelo', 'azul']

'azul'

['branco', 'azul', 'amarelo', 'verde']

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,2019-12-01,Iguatemi Campinas,Bermuda Estampa,1,169,169
1,2019-12-01,Iguatemi Esplanada,Bermuda Xadrez,1,155,155
2,2019-12-01,Norte Shopping,Bermuda,2,150,300
3,2019-12-01,Iguatemi Campinas,Bermuda Listrado,3,163,489
4,2019-12-01,Iguatemi Campinas,Bermuda Linho,3,195,585

In [71]:
fatur_total = analise['Valor Final'].sum()
display(fatur_total)

55895

In [72]:
fatur_loja = analise[[ 'ID Loja' , 'Valor Final' ]].groupby( 'ID Loja' ).sum()
display(fatur_loja)

                            Valor Final
ID Loja
Bourbon Shopping SP                4386
Center Shopping Uberlândia         2994
Iguatemi Campinas                 41720
Iguatemi Esplanada                 2473
Norte Shopping                     4322

In [73]:
fatur_produto_loja = analise[[ 'ID Loja' , 'Produto' , 'Valor Final' ]].groupby([ 'ID Loja' , 'Produto' ]).sum()
display( fatur_produto_loja )

                                             Valor Final
ID Loja                    Produto
Bourbon Shopping SP        Bermuda                   750
                           Bermuda Estampa          1183
                           Bermuda Linho             195
                           Bermuda Listrado         1793
                           Bermuda Xadrez            465
Center Shopping Uberlândia Bermuda Estampa           338
                           Bermuda Linho             780
                           Bermuda Listrado          326
                           Bermuda Xadrez           1550
Iguatemi Campinas          Bermuda                  1200
                           Bermuda Estampa           845
                           Bermuda Linho            1170
                           Bermuda Liso            36581
                           Bermuda Listrado         1304
                           Bermuda Xadrez            620
Iguatemi Esplanada         Bermuda                   150
                           Bermuda Estampa           338
                           Bermuda Linho            1365
                           Bermuda Xadrez            620
Norte Shopping             Bermuda                  1350
                           Bermuda Estampa           845
                           Bermuda Linho             390
                           Bermuda Listrado          652
                           Bermuda Xadrez           1085

In [74]:
# dataframe = pd.DataFrame()

venda = {'data': ['15/02/2022', '16/05/2022', '22/08/2022', '30/09/2022'],
         'valor': [400, 770, 540, 100],
         'produto': ['feijão', 'arroz', 'leite', 'café'],
         'quantidade': [50, 70, 90, 5]
        }

json_vendas_df = pd.DataFrame(venda)
display(json_vendas_df.describe()) # método para descrever um resumo das colunas numéricas
#display(json_vendas_df.head())     # método head() mostra uma quantidade especifica de linhas

            valor  quantidade
count    4.000000    4.000000
mean   452.500000   53.750000
std    280.163643   36.371921
min    100.000000    5.000000
25%    325.000000   38.750000
50%    470.000000   60.000000
75%    597.500000   75.000000
max    770.000000   90.000000

In [75]:
excel_vendas_df = pd.read_excel("Vendas.xlsx") # Usado para abrir o arquivo xlsx
display(excel_vendas_df.head(2))

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,2019-12-01,Iguatemi Campinas,Bermuda Estampa,1,169,169
1,2019-12-01,Iguatemi Esplanada,Bermuda Xadrez,1,155,155

In [76]:
salario = {
        'Funcionário':   ['Joao','Maria','Jose','Caio','Fabio','Julio','Ana','Bia','Bruna','Lucas','Leticia','Leo'],
        'Salario(mil$)': [13, 13, 13, 13, 15, 16, 20, 20, 20, 30, 250, 15],
        }
json_salario_df = pd.DataFrame(salario)
display(json_salario_df.describe())

       Salario(mil$)
count      12.000000
mean       36.500000
std        67.416615
min        13.000000
25%        13.000000
50%        15.500000
75%        20.000000
max       250.000000

In [94]:
fatur_ex  = excel_vendas_df[[ 'Produto', 'ID Loja', 'Valor Final' ]].groupby(['Produto','ID Loja']).sum()
display(fatur_ex)

                                             Valor Final
Produto          ID Loja
Bermuda          Bourbon Shopping SP                 750
                 Iguatemi Campinas                  1200
                 Iguatemi Esplanada                  150
                 Norte Shopping                     1350
Bermuda Estampa  Bourbon Shopping SP                1183
                 Center Shopping Uberlândia          338
                 Iguatemi Campinas                   845
                 Iguatemi Esplanada                  338
                 Norte Shopping                      845
Bermuda Linho    Bourbon Shopping SP                 195
                 Center Shopping Uberlândia          780
                 Iguatemi Campinas                  1170
                 Iguatemi Esplanada                 1365
                 Norte Shopping                      390
Bermuda Liso     Iguatemi Campinas                 36581
Bermuda Listrado Bourbon Shopping SP                1793
                 Center Shopping Uberlândia          326
                 Iguatemi Campinas                  1304
                 Norte Shopping                      652
Bermuda Xadrez   Bourbon Shopping SP                 465
                 Center Shopping Uberlândia         1550
                 Iguatemi Campinas                   620
                 Iguatemi Esplanada                  620
                 Norte Shopping                     1085