In [19]:
from pandas_datareader import data as pdr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil.relativedelta import relativedelta
import quantstats as qs
import mplcyberpunk

tickers = pd.read_excel("composicao_ibov.xlsx")
display(tickers.head())

,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,ABEV3,ABEV3,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,...,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3
1,AMER3,BBAS3,ABEV3,BBDC4,BBDC4,ABEV3,ABEV3,ABEV3,BBDC4,ABEV3,...,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4
2,AURE3,BBDC3,BBDC4,ABEV3,ABEV3,BBDC4,BBDC4,BBDC4,ABEV3,BBDC4,...,ITUB4,PETR3,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4
3,B3SA3,BBDC4,BRFS3,PETR4,PETR4,BRFS3,PETR4,PETR4,PETR4,PETR4,...,PETR3,ITUB4,BBDC4,PETR3,BBDC4,BBDC4,BBDC4,BBDC4,PETR3,PETR3
4,B3SA3,BBSE3,CIEL3,BRFS3,PETR3,PETR4,BRFS3,BRFS3,BRFS3,BRFS3,...,BBDC4,BBDC4,PETR3,BBDC4,B3SA3,PETR3,PETR3,PETR3,BBDC4,BBDC4

In [3]:
# Remover duplicados em uma lista de Excel

intervalo_tempo = tickers.columns
#
lista_tickers = []
#
for mes_a_mes in  intervalo_tempo:
   tickers_no_mes = tickers[mes_a_mes]
   tickers_no_mes = tickers_no_mes.dropna()
   tickers_no_mes = tickers_no_mes + ".SA"
#
   lista_tickers.append(tickers_no_mes)
#
#
#
lista_tickers_final = pd.concat(lista_tickers)
print(lista_tickers_final)
#
lista_tickers_final = lista_tickers_final.drop_duplicates()
lista_tickers_final = list(lista_tickers_final)
#
print(lista_tickers_final)
#
#

0     ABEV3.SA
1     AMER3.SA
2     AURE3.SA
3     B3SA3.SA
4     B3SA3.SA
        ...
85    CVCB3.SA
86    EZTC3.SA
87    GOLL4.SA
88    CASH3.SA
89    POSI3.SA
Length: 5718, dtype: object
['ABEV3.SA', 'AMER3.SA', 'AURE3.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA', 'BBDC4.SA', 'BBSE3.SA', 'BRAP4.SA', 'BRFS3.SA', 'BRKM5.SA', 'BRML3.SA', 'BRPR3.SA', 'CCRO3.SA', 'CIEL3.SA', 'CMIG4.SA', 'COGN3.SA', 'CPFE3.SA', 'CPLE6.SA', 'CSAN3.SA', 'CSNA3.SA', 'CYRE3.SA', 'ECOR3.SA', 'EGIE3.SA', 'ELET3.SA', 'EMBR3.SA', 'ENBR3.SA', 'EQTL3.SA', 'FIBR3.SA', 'GGBR4.SA', 'GOAU4.SA', 'GOLL4.SA', 'HGTX3.SA', 'HYPE3.SA', 'ITSA4.SA', 'ITUB4.SA', 'JBSS3.SA', 'KLBN11.SA', 'LREN3.SA', 'MRFG3.SA', 'MRVE3.SA', 'MULT3.SA', 'NTCO3.SA', 'OIBR3.SA', 'PCAR3.SA', 'PETR3.SA', 'PETR4.SA', 'QUAL3.SA', 'RADL3.SA', 'RAIL3.SA', 'RENT3.SA', 'SANB11.SA', 'SBSP3.SA', 'SUZB3.SA', 'TIMS3.SA', 'UGPA3.SA', 'USIM5.SA', 'VALE3.SA', 'VALE5.SA', 'VIVT3.SA', 'YDUQ3.SA', 'WEGE3.SA', 'ELET6.SA', 'TAEE11.SA', 'FLRY3.SA', 'MGLU3.SA', 'SAPR11.SA', 'VVAR11.SA', 'JPSA3.SA', 'CVCB3.SA', 'VIIA3.SA', 'LOGG3.SA', 'VBBR3.SA', 'IRBR3.SA', 'AZUL4.SA', 'HAPV3.SA', 'BPAC11.SA', 'SULA11.SA', 'TOTS3.SA', 'CRFB3.SA', 'ENGI11.SA', 'BEEF3.SA', 'PRIO3.SA', 'EZTC3.SA', 'ENEV3.SA', 'LCAM3.SA', 'JHSF3.SA', 'ASAI3.SA', 'BIDI11.SA', 'LWSA3.SA', 'RDOR3.SA', 'ALPA4.SA', 'SOMA3.SA', 'PETZ3.SA', 'BPAN4.SA', 'DXCO3.SA', 'CASH3.SA', 'BIDI4.SA', 'GETT11.SA', 'IGTI11.SA', 'CMIN3.SA', 'RRRP3.SA', 'POSI3.SA', 'SLCE3.SA']

In [4]:
# Dados cotaÃ§Ã£o ajustada

dados_cotacoes = pdr.get_data_yahoo(symbols= lista_tickers_final, start='2015-06-30', end='2022-10-15')['Adj Close']

c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'HGTX3.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'JPSA3.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'LCAM3.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'BIDI11.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'BIDI4.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [5]:
# Resample pra Mensal

ultima_linha = dados_cotacoes.iloc[-1:]
dados_cotacoes_mensais = dados_cotacoes.resample("M").last()

display(ultima_linha)
display(dados_cotacoes)
display(dados_cotacoes_mensais)

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2022-10-14,14.83,17.440001,13.82,13.89,39.16,16.309999,19.690001,27.5,24.25,13.84,...,21.030001,3.26,40.23,12.08,43.669998,NaN,NaN,NaN,NaN,NaN

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-30,15.441730,19.304613,NaN,2.934542,16.309511,9.631698,9.540178,19.669218,5.087124,63.513855,...,NaN,NaN,NaN,1.771179,4.797364,NaN,NaN,NaN,NaN,NaN
2015-07-01,15.555573,18.623274,NaN,2.914425,16.101273,9.569739,9.509978,19.813763,4.976009,62.158154,...,NaN,NaN,NaN,1.832254,4.911060,NaN,NaN,NaN,NaN,NaN
2015-07-02,15.482389,18.831461,NaN,2.904368,16.054251,9.575680,9.704400,19.912052,4.961516,63.687504,...,NaN,NaN,NaN,1.806079,4.797364,NaN,NaN,NaN,NaN,NaN
2015-07-03,15.571837,18.594885,NaN,2.876707,15.899755,9.603241,9.593584,19.634529,4.860064,63.804405,...,NaN,NaN,NaN,1.779904,4.822321,NaN,NaN,NaN,NaN,NaN
2015-07-06,15.628762,19.683134,NaN,2.901852,16.020666,9.417232,9.405539,19.617186,4.806922,63.931034,...,NaN,NaN,NaN,1.771179,4.838960,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-07,15.420000,21.100000,14.08,14.800000,40.660000,16.920000,20.469999,28.160000,25.629999,13.840000,...,21.650000,3.71,42.889999,12.390000,42.180000,NaN,NaN,NaN,NaN,NaN
2022-10-10,15.200000,20.680000,14.14,14.840000,40.070000,16.760000,20.160000,28.230000,25.010000,14.550000,...,21.730000,3.68,43.020000,12.540000,44.730000,NaN,NaN,NaN,NaN,NaN
2022-10-11,14.990000,20.559999,14.33,14.350000,39.110001,16.600000,20.110001,27.440001,24.900000,14.330000,...,21.940001,3.60,42.470001,12.530000,44.250000,NaN,NaN,NaN,NaN,NaN
2022-10-13,15.010000,19.049999,13.93,13.900000,39.380001,16.379999,19.820000,28.170000,24.889999,14.350000,...,21.540001,3.40,42.700001,12.840000,43.880001,NaN,NaN,NaN,NaN,NaN
2022-10-14,14.830000,17.440001,13.82,13.890000,39.160000,16.309999,19.690001,27.500000,24.250000,13.840000,...,21.030001,3.26,40.230000,12.080000,43.669998,NaN,NaN,NaN,NaN,NaN

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-30,15.441730,19.304613,NaN,2.934542,16.309511,9.631698,9.540178,19.669218,5.087124,63.513855,...,NaN,NaN,NaN,1.771179,4.797364,NaN,NaN,NaN,NaN,NaN
2015-07-31,15.832047,17.118650,NaN,2.630275,14.811560,9.527458,9.227567,18.622740,4.748949,70.009499,...,NaN,NaN,NaN,1.745004,4.880556,NaN,NaN,NaN,NaN,NaN
2015-08-31,15.523049,14.762350,NaN,2.748285,12.068587,8.675244,7.745598,17.079344,4.526720,67.720337,...,NaN,NaN,NaN,1.657754,4.461826,NaN,NaN,NaN,NaN,NaN
2015-09-30,15.913109,14.062085,NaN,2.824767,10.458097,8.146771,7.203963,14.764410,3.961483,68.762627,...,NaN,NaN,NaN,1.308753,4.963747,NaN,NaN,NaN,NaN,NaN
2015-10-31,15.642704,13.797121,NaN,2.906349,10.987879,8.090500,7.068890,15.829638,3.985638,58.544189,...,NaN,NaN,NaN,1.308753,4.775180,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,13.400000,13.430000,13.62,10.892418,32.994507,14.315794,17.130053,25.070002,25.240000,13.590000,...,17.990000,3.86,35.150002,5.550000,44.130001,NaN,NaN,NaN,NaN,NaN
2022-07-31,14.930000,14.000000,14.19,11.021616,35.554596,14.422656,17.378143,27.996124,22.480000,15.960000,...,19.760000,3.50,34.020000,6.860000,44.099998,NaN,NaN,NaN,NaN,NaN
2022-08-31,15.270000,16.340000,15.37,11.776930,41.412872,15.807056,18.924238,28.280001,21.889999,15.850000,...,19.680000,3.62,37.389999,11.880000,48.599998,NaN,NaN,NaN,NaN,NaN
2022-09-30,15.540000,16.980000,13.55,13.050000,38.520000,16.293821,19.822250,26.570000,23.760000,12.880000,...,20.360001,3.31,35.610001,12.450000,43.290001,NaN,NaN,NaN,NaN,NaN
2022-10-31,14.830000,17.440001,13.82,13.890000,39.160000,16.309999,19.690001,27.500000,24.250000,13.840000,...,21.030001,3.26,40.230000,12.080000,43.669998,NaN,NaN,NaN,NaN,NaN

In [6]:
# adicionando linha
dados_cotacoes_mensais = dados_cotacoes_mensais.append(ultima_linha)

# removendo linha do dia 31/10
dados_cotacoes_mensais = dados_cotacoes_mensais.drop('2022-10-31', axis=0) ## axis = 0 Ã© uma LINHA e axis = 1 Ã© uma COLUNA

display(dados_cotacoes_mensais)

C:\Users\wallison-santos\AppData\Local\Temp\ipykernel_21784\1463895358.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dados_cotacoes_mensais = dados_cotacoes_mensais.append(ultima_linha)

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-30,15.441730,19.304613,NaN,2.934542,16.309511,9.631698,9.540178,19.669218,5.087124,63.513855,...,NaN,NaN,NaN,1.771179,4.797364,NaN,NaN,NaN,NaN,NaN
2015-07-31,15.832047,17.118650,NaN,2.630275,14.811560,9.527458,9.227567,18.622740,4.748949,70.009499,...,NaN,NaN,NaN,1.745004,4.880556,NaN,NaN,NaN,NaN,NaN
2015-08-31,15.523049,14.762350,NaN,2.748285,12.068587,8.675244,7.745598,17.079344,4.526720,67.720337,...,NaN,NaN,NaN,1.657754,4.461826,NaN,NaN,NaN,NaN,NaN
2015-09-30,15.913109,14.062085,NaN,2.824767,10.458097,8.146771,7.203963,14.764410,3.961483,68.762627,...,NaN,NaN,NaN,1.308753,4.963747,NaN,NaN,NaN,NaN,NaN
2015-10-31,15.642704,13.797121,NaN,2.906349,10.987879,8.090500,7.068890,15.829638,3.985638,58.544189,...,NaN,NaN,NaN,1.308753,4.775180,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,13.400000,13.430000,13.62,10.892418,32.994507,14.315794,17.130053,25.070002,25.240000,13.590000,...,17.990000,3.86,35.150002,5.550000,44.130001,NaN,NaN,NaN,NaN,NaN
2022-07-31,14.930000,14.000000,14.19,11.021616,35.554596,14.422656,17.378143,27.996124,22.480000,15.960000,...,19.760000,3.50,34.020000,6.860000,44.099998,NaN,NaN,NaN,NaN,NaN
2022-08-31,15.270000,16.340000,15.37,11.776930,41.412872,15.807056,18.924238,28.280001,21.889999,15.850000,...,19.680000,3.62,37.389999,11.880000,48.599998,NaN,NaN,NaN,NaN,NaN
2022-09-30,15.540000,16.980000,13.55,13.050000,38.520000,16.293821,19.822250,26.570000,23.760000,12.880000,...,20.360001,3.31,35.610001,12.450000,43.290001,NaN,NaN,NaN,NaN,NaN
2022-10-14,14.830000,17.440001,13.82,13.890000,39.160000,16.309999,19.690001,27.500000,24.250000,13.840000,...,21.030001,3.26,40.230000,12.080000,43.669998,NaN,NaN,NaN,NaN,NaN

In [7]:
# Extraindo datas das carteiras

datas_carteiras = list(dados_cotacoes_mensais.index)[6:]
datas_carteiras

[Timestamp('2015-12-31 00:00:00'),
 Timestamp('2016-01-31 00:00:00'),
 Timestamp('2016-02-29 00:00:00'),
 Timestamp('2016-03-31 00:00:00'),
 Timestamp('2016-04-30 00:00:00'),
 Timestamp('2016-05-31 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-07-31 00:00:00'),
 Timestamp('2016-08-31 00:00:00'),
 Timestamp('2016-09-30 00:00:00'),
 Timestamp('2016-10-31 00:00:00'),
 Timestamp('2016-11-30 00:00:00'),
 Timestamp('2016-12-31 00:00:00'),
 Timestamp('2017-01-31 00:00:00'),
 Timestamp('2017-02-28 00:00:00'),
 Timestamp('2017-03-31 00:00:00'),
 Timestamp('2017-04-30 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2017-06-30 00:00:00'),
 Timestamp('2017-07-31 00:00:00'),
 Timestamp('2017-08-31 00:00:00'),
 Timestamp('2017-09-30 00:00:00'),
 Timestamp('2017-10-31 00:00:00'),
 Timestamp('2017-11-30 00:00:00'),
 Timestamp('2017-12-31 00:00:00'),
 Timestamp('2018-01-31 00:00:00'),
 Timestamp('2018-02-28 00:00:00'),
 Timestamp('2018-03-31 00:00:00'),
 Timestamp('2018-04-30 00:00:00'),
 Timestamp('2018-05-31 00:00:00'),
 Timestamp('2018-06-30 00:00:00'),
 Timestamp('2018-07-31 00:00:00'),
 Timestamp('2018-08-31 00:00:00'),
 Timestamp('2018-09-30 00:00:00'),
 Timestamp('2018-10-31 00:00:00'),
 Timestamp('2018-11-30 00:00:00'),
 Timestamp('2018-12-31 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-31 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-31 00:00:00'),
 Timestamp('2019-06-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-31 00:00:00'),
 Timestamp('2019-09-30 00:00:00'),
 Timestamp('2019-10-31 00:00:00'),
 Timestamp('2019-11-30 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2020-01-31 00:00:00'),
 Timestamp('2020-02-29 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-04-30 00:00:00'),
 Timestamp('2020-05-31 00:00:00'),
 Timestamp('2020-06-30 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2020-08-31 00:00:00'),
 Timestamp('2020-09-30 00:00:00'),
 Timestamp('2020-10-31 00:00:00'),
 Timestamp('2020-11-30 00:00:00'),
 Timestamp('2020-12-31 00:00:00'),
 Timestamp('2021-01-31 00:00:00'),
 Timestamp('2021-02-28 00:00:00'),
 Timestamp('2021-03-31 00:00:00'),
 Timestamp('2021-04-30 00:00:00'),
 Timestamp('2021-05-31 00:00:00'),
 Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-07-31 00:00:00'),
 Timestamp('2021-08-31 00:00:00'),
 Timestamp('2021-09-30 00:00:00'),
 Timestamp('2021-10-31 00:00:00'),
 Timestamp('2021-11-30 00:00:00'),
 Timestamp('2021-12-31 00:00:00'),
 Timestamp('2022-01-31 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-03-31 00:00:00'),
 Timestamp('2022-04-30 00:00:00'),
 Timestamp('2022-05-31 00:00:00'),
 Timestamp('2022-06-30 00:00:00'),
 Timestamp('2022-07-31 00:00:00'),
 Timestamp('2022-08-31 00:00:00'),
 Timestamp('2022-09-30 00:00:00'),
 Timestamp('2022-10-14 00:00:00')]

In [8]:
# Preencher dados NaN com zeros para calcular o retorno
dados_cotacoes_mensais = dados_cotacoes_mensais.fillna(0)
dados_cotacoes_mensais

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-30,15.441730,19.304613,0.00,2.934542,16.309511,9.631698,9.540178,19.669218,5.087124,63.513855,...,0.000000,0.00,0.000000,1.771179,4.797364,0.0,0.0,0.0,0.0,0.0
2015-07-31,15.832047,17.118650,0.00,2.630275,14.811560,9.527458,9.227567,18.622740,4.748949,70.009499,...,0.000000,0.00,0.000000,1.745004,4.880556,0.0,0.0,0.0,0.0,0.0
2015-08-31,15.523049,14.762350,0.00,2.748285,12.068587,8.675244,7.745598,17.079344,4.526720,67.720337,...,0.000000,0.00,0.000000,1.657754,4.461826,0.0,0.0,0.0,0.0,0.0
2015-09-30,15.913109,14.062085,0.00,2.824767,10.458097,8.146771,7.203963,14.764410,3.961483,68.762627,...,0.000000,0.00,0.000000,1.308753,4.963747,0.0,0.0,0.0,0.0,0.0
2015-10-31,15.642704,13.797121,0.00,2.906349,10.987879,8.090500,7.068890,15.829638,3.985638,58.544189,...,0.000000,0.00,0.000000,1.308753,4.775180,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,13.400000,13.430000,13.62,10.892418,32.994507,14.315794,17.130053,25.070002,25.240000,13.590000,...,17.990000,3.86,35.150002,5.550000,44.130001,0.0,0.0,0.0,0.0,0.0
2022-07-31,14.930000,14.000000,14.19,11.021616,35.554596,14.422656,17.378143,27.996124,22.480000,15.960000,...,19.760000,3.50,34.020000,6.860000,44.099998,0.0,0.0,0.0,0.0,0.0
2022-08-31,15.270000,16.340000,15.37,11.776930,41.412872,15.807056,18.924238,28.280001,21.889999,15.850000,...,19.680000,3.62,37.389999,11.880000,48.599998,0.0,0.0,0.0,0.0,0.0
2022-09-30,15.540000,16.980000,13.55,13.050000,38.520000,16.293821,19.822250,26.570000,23.760000,12.880000,...,20.360001,3.31,35.610001,12.450000,43.290001,0.0,0.0,0.0,0.0,0.0
2022-10-14,14.830000,17.440001,13.82,13.890000,39.160000,16.309999,19.690001,27.500000,24.250000,13.840000,...,21.030001,3.26,40.230000,12.080000,43.669998,0.0,0.0,0.0,0.0,0.0

In [9]:
df_retornos = dados_cotacoes_mensais.pct_change().replace([np.inf, -np.inf, -1], 0)
df_retornos

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-31,0.025277,-0.113235,NaN,-0.103685,-0.091845,-0.010823,-0.032768,-0.053204,-0.066477,0.102271,...,NaN,NaN,NaN,-0.014778,0.017341,NaN,NaN,NaN,NaN,NaN
2015-08-31,-0.019517,-0.137645,NaN,0.044866,-0.185191,-0.089448,-0.160602,-0.082877,-0.046795,-0.032698,...,NaN,NaN,NaN,-0.050000,-0.085796,NaN,NaN,NaN,NaN,NaN
2015-09-30,0.025128,-0.047436,NaN,0.027829,-0.133445,-0.060917,-0.069928,-0.135540,-0.124867,0.015391,...,NaN,NaN,NaN,-0.210526,0.112492,NaN,NaN,NaN,NaN,NaN
2015-10-31,-0.016993,-0.018842,NaN,0.028881,0.050658,-0.006907,-0.018750,0.072148,0.006098,-0.148605,...,NaN,NaN,NaN,0.000000,-0.037989,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,-0.055673,-0.331841,-0.024355,-0.131662,-0.081668,-0.137405,-0.151389,-0.034226,-0.116865,-0.131629,...,-0.093246,-0.200828,-0.278974,-0.260000,-0.195442,NaN,NaN,NaN,NaN,NaN
2022-07-31,0.114179,0.042442,0.041850,0.011861,0.077591,0.007465,0.014483,0.116718,-0.109350,0.174393,...,0.098388,-0.093264,-0.032148,0.236036,-0.000680,NaN,NaN,NaN,NaN,NaN
2022-08-31,0.022773,0.167143,0.083157,0.068530,0.164768,0.095988,0.088968,0.010140,-0.026246,-0.006892,...,-0.004049,0.034286,0.099059,0.731778,0.102041,NaN,NaN,NaN,NaN,NaN
2022-09-30,0.017682,0.039168,-0.118412,0.108099,-0.069854,0.030794,0.047453,-0.060467,0.085427,-0.187382,...,0.034553,-0.085635,-0.047606,0.047980,-0.109259,NaN,NaN,NaN,NaN,NaN
2022-10-14,-0.045689,0.027091,0.019926,0.064368,0.016615,0.000993,-0.006672,0.035002,0.020623,0.074534,...,0.032908,-0.015106,0.129739,-0.029719,0.008778,NaN,NaN,NaN,NaN,NaN

In [10]:
df_retornos_6m = dados_cotacoes_mensais.pct_change(periods=6).replace([np.inf, -np.inf, -1], 0)
df_retornos_6m

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,-0.130999,-0.566189,0.000000,0.012196,0.206000,-0.004612,0.001755,0.300746,0.067465,-0.396536,...,0.002047,-0.371796,0.047690,-0.442227,0.129822,NaN,NaN,NaN,NaN,NaN
2022-07-31,-0.002672,-0.547151,0.000000,-0.223076,0.147972,-0.137303,-0.144579,0.302539,-0.114464,-0.285266,...,0.011411,-0.449970,-0.110356,-0.197141,0.005206,NaN,NaN,NaN,NaN,NaN
2022-08-31,0.004605,-0.464262,0.000000,-0.167555,0.240284,0.040985,0.042810,0.271005,-0.231894,-0.051466,...,0.051803,-0.359542,0.103601,0.628773,0.158417,NaN,NaN,NaN,NaN,NaN
2022-09-30,0.009091,-0.479939,-0.147533,-0.154352,0.136021,0.000962,-0.000564,0.076418,-0.240878,-0.307154,...,0.012056,-0.397878,-0.149104,0.474411,-0.088947,NaN,NaN,NaN,NaN,NaN
2022-10-14,0.021350,-0.273333,-0.051667,0.063178,0.206348,0.113903,0.113316,0.119790,-0.124970,0.019146,...,0.018467,-0.312318,-0.129786,0.694364,-0.134971,NaN,NaN,NaN,NaN,NaN

In [11]:
df_retornos = df_retornos.loc['2015-12-31': ]
df_retornos_6m = df_retornos_6m.loc['2015-12-31': ]

display(df_retornos_6m)

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-31,-0.044826,-0.253431,NaN,-0.019676,-0.362492,-0.235068,-0.289905,-0.263887,-0.501427,-0.150329,...,NaN,NaN,NaN,-0.162561,-0.049133,NaN,NaN,NaN,NaN,NaN
2016-01-31,-0.026099,-0.266998,NaN,0.030453,-0.340404,-0.260394,-0.308186,-0.260869,-0.644662,-0.320789,...,NaN,NaN,NaN,-0.340000,-0.070455,NaN,NaN,NaN,NaN,NaN
2016-02-29,-0.054421,-0.259615,NaN,0.116931,-0.208609,-0.034314,-0.029977,-0.130478,-0.547496,-0.251678,...,NaN,NaN,NaN,-0.273684,0.143567,NaN,NaN,NaN,NaN,NaN
2016-03-31,-0.016942,-0.044415,NaN,0.435516,0.347493,0.330232,0.323655,0.239387,-0.210925,-0.262721,...,NaN,NaN,NaN,-0.013333,-0.117318,NaN,NaN,NaN,NaN,NaN
2016-04-30,0.031436,-0.060357,NaN,0.561556,0.434325,0.376728,0.421211,0.166876,0.080156,-0.169646,...,NaN,NaN,NaN,-0.026667,-0.098722,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,-0.130999,-0.566189,0.000000,0.012196,0.206000,-0.004612,0.001755,0.300746,0.067465,-0.396536,...,0.002047,-0.371796,0.047690,-0.442227,0.129822,NaN,NaN,NaN,NaN,NaN
2022-07-31,-0.002672,-0.547151,0.000000,-0.223076,0.147972,-0.137303,-0.144579,0.302539,-0.114464,-0.285266,...,0.011411,-0.449970,-0.110356,-0.197141,0.005206,NaN,NaN,NaN,NaN,NaN
2022-08-31,0.004605,-0.464262,0.000000,-0.167555,0.240284,0.040985,0.042810,0.271005,-0.231894,-0.051466,...,0.051803,-0.359542,0.103601,0.628773,0.158417,NaN,NaN,NaN,NaN,NaN
2022-09-30,0.009091,-0.479939,-0.147533,-0.154352,0.136021,0.000962,-0.000564,0.076418,-0.240878,-0.307154,...,0.012056,-0.397878,-0.149104,0.474411,-0.088947,NaN,NaN,NaN,NaN,NaN
2022-10-14,0.021350,-0.273333,-0.051667,0.063178,0.206348,0.113903,0.113316,0.119790,-0.124970,0.019146,...,0.018467,-0.312318,-0.129786,0.694364,-0.134971,NaN,NaN,NaN,NaN,NaN

In [14]:
#dados_cotacoes_mensais = dados_cotacoes_mensais.reset_index()
#df_retornos = df_retornos.reset_index()
#df_retornos_6m = df_retornos_6m.reset_index()

dados_cotacoes_mensais = pd.melt(dados_cotacoes_mensais, id_vars="Date", var_name="cod", value_name="cotacoes")
df_retornos = pd.melt(df_retornos, id_vars="Date", var_name="cod", value_name="retorno_1m")
df_retornos_6m = pd.melt(df_retornos_6m, id_vars="Date", var_name="cod", value_name="retorno_6m")

display(dados_cotacoes_mensais)

           Date       cod   cotacoes
0    2015-06-30  ABEV3.SA  15.441730
1    2015-07-31  ABEV3.SA  15.832047
2    2015-08-31  ABEV3.SA  15.523049
3    2015-09-30  ABEV3.SA  15.913109
4    2015-10-31  ABEV3.SA  15.642704
...         ...       ...        ...
9251 2022-06-30  BIDI4.SA   0.000000
9252 2022-07-31  BIDI4.SA   0.000000
9253 2022-08-31  BIDI4.SA   0.000000
9254 2022-09-30  BIDI4.SA   0.000000
9255 2022-10-14  BIDI4.SA   0.000000

[9256 rows x 3 columns]

In [16]:
dados_cotacoes_mensais = dados_cotacoes_mensais.dropna()
df_retornos_6m = df_retornos_6m.dropna()
df_retornos = df_retornos.dropna()

display(dados_cotacoes_mensais)

           Date       cod   cotacoes
0    2015-06-30  ABEV3.SA  15.441730
1    2015-07-31  ABEV3.SA  15.832047
2    2015-08-31  ABEV3.SA  15.523049
3    2015-09-30  ABEV3.SA  15.913109
4    2015-10-31  ABEV3.SA  15.642704
...         ...       ...        ...
9251 2022-06-30  BIDI4.SA   0.000000
9252 2022-07-31  BIDI4.SA   0.000000
9253 2022-08-31  BIDI4.SA   0.000000
9254 2022-09-30  BIDI4.SA   0.000000
9255 2022-10-14  BIDI4.SA   0.000000

[9256 rows x 3 columns]