In [19]:
import pandas as pd
from pandas_datareader import data as pdr

composicao_bolsa = pd.read_excel('composicao_ibov.xlsx')

In [6]:
display(composicao_bolsa.head(4))

,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,ABEV3,ABEV3,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,...,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3
1,AMER3,BBAS3,ABEV3,BBDC4,BBDC4,ABEV3,ABEV3,ABEV3,BBDC4,ABEV3,...,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4
2,AURE3,BBDC3,BBDC4,ABEV3,ABEV3,BBDC4,BBDC4,BBDC4,ABEV3,BBDC4,...,ITUB4,PETR3,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4
3,B3SA3,BBDC4,BRFS3,PETR4,PETR4,BRFS3,PETR4,PETR4,PETR4,PETR4,...,PETR3,ITUB4,BBDC4,PETR3,BBDC4,BBDC4,BBDC4,BBDC4,PETR3,PETR3

In [17]:
intervalo_de_tempo = composicao_bolsa.columns
display(intervalo_de_tempo)

DatetimeIndex(['2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31',
               '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31',
               '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30',
               '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31',
               '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31',
               '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30',
               '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31',
               '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30',
               '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31',
               '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31',
               '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30',
               '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31',
               '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31',
               '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30',
               '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31',
               '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31',
               '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30',
               '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31',
               '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31',
               '2022-08-31'],
              dtype='datetime64[ns]', freq=None)

In [14]:
lista_composicao_bolsa = list()

for cada_mes in intervalo_de_tempo:
    composicao_bolsa_mes = composicao_bolsa[cada_mes]
    composicao_bolsa_mes = composicao_bolsa_mes.dropna()
    composicao_bolsa_mes = composicao_bolsa_mes + '.SA'
    
    lista_composicao_bolsa.append(composicao_bolsa_mes)

lista_comp_bolsa_final = pd.concat(lista_composicao_bolsa)
lista_comp_bolsa_final = lista_comp_bolsa_final.drop_duplicates()
lista_comp_bolsa_final = list(lista_comp_bolsa_final)
# display(lista_comp_bolsa_final)

In [20]:
dados_cotacoes = pdr.get_data_yahoo(symbols=lista_comp_bolsa_final, start='2015-06-30', end='2022-10-15')['Adj Close']

/home/wallison/Área de Trabalho/AppPy/venv/lib/python3.10/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'HGTX3.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/wallison/Área de Trabalho/AppPy/venv/lib/python3.10/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'JPSA3.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/wallison/Área de Trabalho/AppPy/venv/lib/python3.10/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'LCAM3.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/wallison/Área de Trabalho/AppPy/venv/lib/python3.10/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'BIDI11.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/wallison/Área de Trabalho/AppPy/venv/lib/python3.10/site-packages/pandas_datareader/base.py:272: SymbolWarning: Failed to read symbol: 'BIDI4.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [22]:
dados_cotacoes.head(5)

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-30,15.441735,19.304613,NaN,2.934543,16.309507,9.631701,9.540178,19.669224,5.087124,63.513851,...,NaN,NaN,NaN,1.771179,4.797364,NaN,NaN,NaN,NaN,NaN
2015-07-01,15.555572,18.623274,NaN,2.914425,16.101276,9.569743,9.509980,19.813765,4.976008,62.158150,...,NaN,NaN,NaN,1.832254,4.911059,NaN,NaN,NaN,NaN,NaN
2015-07-02,15.482392,18.831461,NaN,2.904367,16.054256,9.575686,9.704387,19.912050,4.961515,63.687508,...,NaN,NaN,NaN,1.806079,4.797364,NaN,NaN,NaN,NaN,NaN
2015-07-03,15.571838,18.594885,NaN,2.876706,15.899760,9.603242,9.593578,19.634531,4.860063,63.804401,...,NaN,NaN,NaN,1.779904,4.822321,NaN,NaN,NaN,NaN,NaN
2015-07-06,15.628757,19.683134,NaN,2.901852,16.020664,9.417233,9.405539,19.617182,4.806921,63.931034,...,NaN,NaN,NaN,1.771179,4.838960,NaN,NaN,NaN,NaN,NaN

In [38]:
ultima_linha = dados_cotacoes.iloc[-1: ] # [Linha, Coluna] -1 será a ultima linha e o vazio será compreendido como se fosse selecionar todas as colunas
dados_cotacoes_mensais = dados_cotacoes.resample("M").last()
dados_cotacoes_ano = dados_cotacoes.resample("Y").last()

dados_cotacoes_ano

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-31,14.749533,14.412219,NaN,2.876803,10.397444,7.367596,6.774431,14.478761,2.536305,53.965862,...,NaN,NaN,NaN,1.483253,4.561656,NaN,NaN,NaN,NaN,NaN
2016-12-31,14.045369,9.652307,NaN,4.495625,20.733650,12.043469,11.767251,17.913332,7.606887,48.250000,...,NaN,NaN,NaN,2.434281,4.173820,NaN,NaN,NaN,NaN,NaN
2017-12-31,18.738337,19.863508,NaN,6.336879,24.226967,15.127498,15.704265,19.148506,15.585306,36.599998,...,NaN,NaN,NaN,2.732642,8.461720,NaN,NaN,NaN,NaN,NaN
2018-12-31,13.985297,40.715347,NaN,7.686924,36.923775,18.179810,20.397772,20.766096,17.825253,21.930000,...,NaN,NaN,NaN,1.968205,15.720891,NaN,NaN,NaN,NaN,NaN
2019-12-31,17.422838,61.622261,NaN,12.577700,44.692043,23.215326,24.772230,29.825428,22.862947,35.200001,...,NaN,NaN,NaN,8.953575,19.527662,NaN,NaN,NaN,NaN,NaN
2020-12-31,14.990730,74.121208,NaN,18.746490,34.152580,18.633772,21.002972,26.414553,39.675304,22.040001,...,NaN,NaN,37.200001,4.513741,23.319799,NaN,NaN,NaN,NaN,NaN
2021-12-31,15.420000,30.958178,NaN,10.761169,27.358620,14.382124,17.100046,19.273560,23.644810,22.520000,...,17.953243,6.144497,33.549999,9.950287,39.059258,NaN,NaN,NaN,NaN,NaN
2022-12-31,14.830000,17.440001,13.82,13.890000,39.160000,16.309999,19.690001,27.500000,24.250000,13.840000,...,21.030001,3.260000,40.230000,12.080000,43.669998,NaN,NaN,NaN,NaN,NaN

In [25]:
ultima_linha

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2022-10-14,14.83,17.440001,13.82,13.89,39.16,16.309999,19.690001,27.5,24.25,13.84,...,21.030001,3.26,40.23,12.08,43.669998,NaN,NaN,NaN,NaN,NaN

In [26]:
dados_cotacoes_mensais = dados_cotacoes_mensais.append(ultima_linha)

/tmp/ipykernel_4985/4279160153.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dados_cotacoes_mensais = dados_cotacoes_mensais.append(ultima_linha)

In [30]:
dados_cotacoes_mensais = dados_cotacoes_mensais.drop("2022-10-31", axis=0) # Retirando linha
dados_cotacoes_mensais

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-30,15.441735,19.304613,NaN,2.934543,16.309507,9.631701,9.540178,19.669224,5.087124,63.513851,...,NaN,NaN,NaN,1.771179,4.797364,NaN,NaN,NaN,NaN,NaN
2015-07-31,15.832042,17.118650,NaN,2.630276,14.811559,9.527459,9.227567,18.622742,4.748948,70.009506,...,NaN,NaN,NaN,1.745004,4.880556,NaN,NaN,NaN,NaN,NaN
2015-08-31,15.523046,14.762350,NaN,2.748285,12.068584,8.675241,7.745595,17.079342,4.526719,67.720337,...,NaN,NaN,NaN,1.657754,4.461826,NaN,NaN,NaN,NaN,NaN
2015-09-30,15.913110,14.062085,NaN,2.824768,10.458092,8.146775,7.203965,14.764410,3.961483,68.762634,...,NaN,NaN,NaN,1.308753,4.963747,NaN,NaN,NaN,NaN,NaN
2015-10-31,15.642702,13.797121,NaN,2.906350,10.987878,8.090495,7.068883,15.829638,3.985638,58.544189,...,NaN,NaN,NaN,1.308753,4.775180,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-30,13.400000,13.430000,13.62,10.892418,32.994507,14.315794,17.130054,25.070002,25.240000,13.590000,...,17.990000,3.86,35.150002,5.550000,44.130001,NaN,NaN,NaN,NaN,NaN
2022-07-31,14.930000,14.000000,14.19,11.021616,35.554596,14.422657,17.378145,27.996124,22.480000,15.960000,...,19.760000,3.50,34.020000,6.860000,44.099998,NaN,NaN,NaN,NaN,NaN
2022-08-31,15.270000,16.340000,15.37,11.776930,41.412872,15.807056,18.924238,28.280001,21.889999,15.850000,...,19.680000,3.62,37.389999,11.880000,48.599998,NaN,NaN,NaN,NaN,NaN
2022-09-30,15.540000,16.980000,13.55,13.050000,38.520000,16.293821,19.822250,26.570000,23.760000,12.880000,...,20.360001,3.31,35.610001,12.450000,43.290001,NaN,NaN,NaN,NaN,NaN
2022-10-14,14.830000,17.440001,13.82,13.890000,39.160000,16.309999,19.690001,27.500000,24.250000,13.840000,...,21.030001,3.26,40.230000,12.080000,43.669998,NaN,NaN,NaN,NaN,NaN

In [33]:
datas_carteiras = list(dados_cotacoes_mensais.index)[6:] 
datas_carteiras

[Timestamp('2015-12-31 00:00:00'),
 Timestamp('2016-01-31 00:00:00'),
 Timestamp('2016-02-29 00:00:00'),
 Timestamp('2016-03-31 00:00:00'),
 Timestamp('2016-04-30 00:00:00'),
 Timestamp('2016-05-31 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-07-31 00:00:00'),
 Timestamp('2016-08-31 00:00:00'),
 Timestamp('2016-09-30 00:00:00'),
 Timestamp('2016-10-31 00:00:00'),
 Timestamp('2016-11-30 00:00:00'),
 Timestamp('2016-12-31 00:00:00'),
 Timestamp('2017-01-31 00:00:00'),
 Timestamp('2017-02-28 00:00:00'),
 Timestamp('2017-03-31 00:00:00'),
 Timestamp('2017-04-30 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2017-06-30 00:00:00'),
 Timestamp('2017-07-31 00:00:00'),
 Timestamp('2017-08-31 00:00:00'),
 Timestamp('2017-09-30 00:00:00'),
 Timestamp('2017-10-31 00:00:00'),
 Timestamp('2017-11-30 00:00:00'),
 Timestamp('2017-12-31 00:00:00'),
 Timestamp('2018-01-31 00:00:00'),
 Timestamp('2018-02-28 00:00:00'),
 Timestamp('2018-03-31 00:00:00'),
 Timestamp('2018-04-30 00:00:00'),
 Timestamp('2018-05-31 00:00:00'),
 Timestamp('2018-06-30 00:00:00'),
 Timestamp('2018-07-31 00:00:00'),
 Timestamp('2018-08-31 00:00:00'),
 Timestamp('2018-09-30 00:00:00'),
 Timestamp('2018-10-31 00:00:00'),
 Timestamp('2018-11-30 00:00:00'),
 Timestamp('2018-12-31 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-31 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-31 00:00:00'),
 Timestamp('2019-06-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-31 00:00:00'),
 Timestamp('2019-09-30 00:00:00'),
 Timestamp('2019-10-31 00:00:00'),
 Timestamp('2019-11-30 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2020-01-31 00:00:00'),
 Timestamp('2020-02-29 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-04-30 00:00:00'),
 Timestamp('2020-05-31 00:00:00'),
 Timestamp('2020-06-30 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2020-08-31 00:00:00'),
 Timestamp('2020-09-30 00:00:00'),
 Timestamp('2020-10-31 00:00:00'),
 Timestamp('2020-11-30 00:00:00'),
 Timestamp('2020-12-31 00:00:00'),
 Timestamp('2021-01-31 00:00:00'),
 Timestamp('2021-02-28 00:00:00'),
 Timestamp('2021-03-31 00:00:00'),
 Timestamp('2021-04-30 00:00:00'),
 Timestamp('2021-05-31 00:00:00'),
 Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-07-31 00:00:00'),
 Timestamp('2021-08-31 00:00:00'),
 Timestamp('2021-09-30 00:00:00'),
 Timestamp('2021-10-31 00:00:00'),
 Timestamp('2021-11-30 00:00:00'),
 Timestamp('2021-12-31 00:00:00'),
 Timestamp('2022-01-31 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-03-31 00:00:00'),
 Timestamp('2022-04-30 00:00:00'),
 Timestamp('2022-05-31 00:00:00'),
 Timestamp('2022-06-30 00:00:00'),
 Timestamp('2022-07-31 00:00:00'),
 Timestamp('2022-08-31 00:00:00'),
 Timestamp('2022-09-30 00:00:00'),
 Timestamp('2022-10-14 00:00:00')]

In [35]:
dados_cotacoes_mensais = dados_cotacoes_mensais.fillna(0)
print(dados_cotacoes_mensais.head(5))

Symbols,ABEV3.SA,AMER3.SA,AURE3.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,BBSE3.SA,BRAP4.SA,BRFS3.SA,...,IGTI11.SA,CMIN3.SA,RRRP3.SA,POSI3.SA,SLCE3.SA,HGTX3.SA,JPSA3.SA,LCAM3.SA,BIDI11.SA,BIDI4.SA
Date,,,,,,,,,,,,,,,,,,,,,
2015-06-30,15.441735,19.304613,0.0,2.934543,16.309507,9.631701,9.540178,19.669224,5.087124,63.513851,...,0.0,0.0,0.0,1.771179,4.797364,0.0,0.0,0.0,0.0,0.0
2015-07-31,15.832042,17.118650,0.0,2.630276,14.811559,9.527459,9.227567,18.622742,4.748948,70.009506,...,0.0,0.0,0.0,1.745004,4.880556,0.0,0.0,0.0,0.0,0.0
2015-08-31,15.523046,14.762350,0.0,2.748285,12.068584,8.675241,7.745595,17.079342,4.526719,67.720337,...,0.0,0.0,0.0,1.657754,4.461826,0.0,0.0,0.0,0.0,0.0
2015-09-30,15.913110,14.062085,0.0,2.824768,10.458092,8.146775,7.203965,14.764410,3.961483,68.762634,...,0.0,0.0,0.0,1.308753,4.963747,0.0,0.0,0.0,0.0,0.0
2015-10-31,15.642702,13.797121,0.0,2.906350,10.987878,8.090495,7.068883,15.829638,3.985638,58.544189,...,0.0,0.0,0.0,1.308753,4.775180,0.0,0.0,0.0,0.0,0.0