In [35]:
from pandas_datareader import data as pdr
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil.relativedelta import relativedelta
import quantstats as qs

tickers = pd.read_excel("composicao_ibov.xlsx")
display(tickers.head())

,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,ABEV3,ABEV3,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,...,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3,VALE3
1,AMER3,BBAS3,ABEV3,BBDC4,BBDC4,ABEV3,ABEV3,ABEV3,BBDC4,ABEV3,...,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4,PETR4
2,AURE3,BBDC3,BBDC4,ABEV3,ABEV3,BBDC4,BBDC4,BBDC4,ABEV3,BBDC4,...,ITUB4,PETR3,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4,ITUB4
3,B3SA3,BBDC4,BRFS3,PETR4,PETR4,BRFS3,PETR4,PETR4,PETR4,PETR4,...,PETR3,ITUB4,BBDC4,PETR3,BBDC4,BBDC4,BBDC4,BBDC4,PETR3,PETR3
4,B3SA3,BBSE3,CIEL3,BRFS3,PETR3,PETR4,BRFS3,BRFS3,BRFS3,BRFS3,...,BBDC4,BBDC4,PETR3,BBDC4,B3SA3,PETR3,PETR3,PETR3,BBDC4,BBDC4

In [36]:
# Remover duplicados em uma lista de Excel

intervalo_tempo = tickers.columns
#
lista_tickers = []
#
for mes_a_mes in  intervalo_tempo:
   tickers_no_mes = tickers[mes_a_mes]
   tickers_no_mes = tickers_no_mes.dropna()
   tickers_no_mes = tickers_no_mes + ".SA"
#
   lista_tickers.append(tickers_no_mes)
#
#
#
lista_tickers_final = pd.concat(lista_tickers)
print(lista_tickers_final)
#
lista_tickers_final = lista_tickers_final.drop_duplicates()
lista_tickers_final = list(lista_tickers_final)
#
print(lista_tickers_final)
#
#

0     ABEV3.SA
1     AMER3.SA
2     AURE3.SA
3     B3SA3.SA
4     B3SA3.SA
        ...
85    CVCB3.SA
86    EZTC3.SA
87    GOLL4.SA
88    CASH3.SA
89    POSI3.SA
Length: 5718, dtype: object
['ABEV3.SA', 'AMER3.SA', 'AURE3.SA', 'B3SA3.SA', 'BBAS3.SA', 'BBDC3.SA', 'BBDC4.SA', 'BBSE3.SA', 'BRAP4.SA', 'BRFS3.SA', 'BRKM5.SA', 'BRML3.SA', 'BRPR3.SA', 'CCRO3.SA', 'CIEL3.SA', 'CMIG4.SA', 'COGN3.SA', 'CPFE3.SA', 'CPLE6.SA', 'CSAN3.SA', 'CSNA3.SA', 'CYRE3.SA', 'ECOR3.SA', 'EGIE3.SA', 'ELET3.SA', 'EMBR3.SA', 'ENBR3.SA', 'EQTL3.SA', 'FIBR3.SA', 'GGBR4.SA', 'GOAU4.SA', 'GOLL4.SA', 'HGTX3.SA', 'HYPE3.SA', 'ITSA4.SA', 'ITUB4.SA', 'JBSS3.SA', 'KLBN11.SA', 'LREN3.SA', 'MRFG3.SA', 'MRVE3.SA', 'MULT3.SA', 'NTCO3.SA', 'OIBR3.SA', 'PCAR3.SA', 'PETR3.SA', 'PETR4.SA', 'QUAL3.SA', 'RADL3.SA', 'RAIL3.SA', 'RENT3.SA', 'SANB11.SA', 'SBSP3.SA', 'SUZB3.SA', 'TIMS3.SA', 'UGPA3.SA', 'USIM5.SA', 'VALE3.SA', 'VALE5.SA', 'VIVT3.SA', 'YDUQ3.SA', 'WEGE3.SA', 'ELET6.SA', 'TAEE11.SA', 'FLRY3.SA', 'MGLU3.SA', 'SAPR11.SA', 'VVAR11.SA', 'JPSA3.SA', 'CVCB3.SA', 'VIIA3.SA', 'LOGG3.SA', 'VBBR3.SA', 'IRBR3.SA', 'AZUL4.SA', 'HAPV3.SA', 'BPAC11.SA', 'SULA11.SA', 'TOTS3.SA', 'CRFB3.SA', 'ENGI11.SA', 'BEEF3.SA', 'PRIO3.SA', 'EZTC3.SA', 'ENEV3.SA', 'LCAM3.SA', 'JHSF3.SA', 'ASAI3.SA', 'BIDI11.SA', 'LWSA3.SA', 'RDOR3.SA', 'ALPA4.SA', 'SOMA3.SA', 'PETZ3.SA', 'BPAN4.SA', 'DXCO3.SA', 'CASH3.SA', 'BIDI4.SA', 'GETT11.SA', 'IGTI11.SA', 'CMIN3.SA', 'RRRP3.SA', 'POSI3.SA', 'SLCE3.SA']

In [24]:
# Dados cotação ajustada

dados_cotacoes = pdr.get_data_yahoo(symbols= lista_tickers_final, start='2015-06-30', end='2022-10-15')

c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'HGTX3.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'JPSA3.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'LCAM3.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'BIDI11.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
c:\Users\wallison-santos\Documents\GitHub\AppPy\env\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'BIDI4.SA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [37]:
# Resample pra Mensal

ultima_linha = dados_cotacoes.iloc[-1:]
dados_cotacoes_mensais = dados_cotacoes.resample("M").last()

display(ultima_linha)
display(dados_cotacoes)
display(dados_cotacoes_mensais)

Attributes Adj Close                                                   \
Symbols     ABEV3.SA   AMER3.SA AURE3.SA B3SA3.SA BBAS3.SA   BBDC3.SA
Date
2022-10-14     14.83  17.440001    13.82    13.89    39.16  16.309999

Attributes                                        ...     Volume              \
Symbols      BBDC4.SA BBSE3.SA BRAP4.SA BRFS3.SA  ...  IGTI11.SA    CMIN3.SA
Date                                              ...
2022-10-14  19.690001     27.5    24.25    13.84  ...  1701900.0  12366500.0

Attributes                                                              \
Symbols      RRRP3.SA   POSI3.SA   SLCE3.SA HGTX3.SA JPSA3.SA LCAM3.SA
Date
2022-10-14  4539500.0  1911500.0  1272600.0      NaN      NaN      NaN

Attributes
Symbols    BIDI11.SA BIDI4.SA
Date
2022-10-14       NaN      NaN

[1 rows x 624 columns]

Attributes  Adj Close                                                       \
Symbols      ABEV3.SA   AMER3.SA AURE3.SA   B3SA3.SA   BBAS3.SA   BBDC3.SA
Date
2015-06-30  15.441732  19.304613      NaN   2.934543  16.309509   9.631699
2015-07-01  15.555575  18.623274      NaN   2.914425  16.101276   9.569742
2015-07-02  15.482391  18.831461      NaN   2.904367  16.054255   9.575683
2015-07-03  15.571835  18.594885      NaN   2.876707  15.899759   9.603234
2015-07-06  15.628757  19.683134      NaN   2.901853  16.020670   9.417229
...               ...        ...      ...        ...        ...        ...
2022-10-07  15.420000  21.100000    14.08  14.800000  40.660000  16.920000
2022-10-10  15.200000  20.680000    14.14  14.840000  40.070000  16.760000
2022-10-11  14.990000  20.559999    14.33  14.350000  39.110001  16.600000
2022-10-13  15.010000  19.049999    13.93  13.900000  39.380001  16.379999
2022-10-14  14.830000  17.440001    13.82  13.890000  39.160000  16.309999

Attributes                                              ...     Volume  \
Symbols      BBDC4.SA   BBSE3.SA   BRAP4.SA   BRFS3.SA  ...  IGTI11.SA
Date                                                    ...
2015-06-30   9.540177  19.669222   5.087124  63.513855  ...        NaN
2015-07-01   9.509976  19.813763   4.976009  62.158154  ...        NaN
2015-07-02   9.704391  19.912046   4.961516  63.687504  ...        NaN
2015-07-03   9.593582  19.634531   4.860063  63.804401  ...        NaN
2015-07-06   9.405538  19.617186   4.806921  63.931038  ...        NaN
...               ...        ...        ...        ...  ...        ...
2022-10-07  20.469999  28.160000  25.629999  13.840000  ...  2002200.0
2022-10-10  20.160000  28.230000  25.010000  14.550000  ...  1475300.0
2022-10-11  20.110001  27.440001  24.900000  14.330000  ...  3443400.0
2022-10-13  19.820000  28.170000  24.889999  14.350000  ...  2966800.0
2022-10-14  19.690001  27.500000  24.250000  13.840000  ...  1701900.0

Attributes                                                                 \
Symbols       CMIN3.SA   RRRP3.SA   POSI3.SA   SLCE3.SA HGTX3.SA JPSA3.SA
Date
2015-06-30         NaN        NaN   209800.0   347160.0      NaN      NaN
2015-07-01         NaN        NaN   156300.0   384120.0      NaN      NaN
2015-07-02         NaN        NaN    53700.0   183920.0      NaN      NaN
2015-07-03         NaN        NaN    66900.0   124740.0      NaN      NaN
2015-07-06         NaN        NaN    62300.0   167420.0      NaN      NaN
...                ...        ...        ...        ...      ...      ...
2022-10-07   7286400.0  3448500.0  1333200.0   817500.0      NaN      NaN
2022-10-10   4584800.0  3340900.0  1608200.0  2116800.0      NaN      NaN
2022-10-11   5152000.0  4018000.0  1668700.0   904400.0      NaN      NaN
2022-10-13  18071200.0  3055600.0  3538200.0  1105300.0      NaN      NaN
2022-10-14  12366500.0  4539500.0  1911500.0  1272600.0      NaN      NaN

Attributes
Symbols    LCAM3.SA BIDI11.SA BIDI4.SA
Date
2015-06-30      NaN       NaN      NaN
2015-07-01      NaN       NaN      NaN
2015-07-02      NaN       NaN      NaN
2015-07-03      NaN       NaN      NaN
2015-07-06      NaN       NaN      NaN
...             ...       ...      ...
2022-10-07      NaN       NaN      NaN
2022-10-10      NaN       NaN      NaN
2022-10-11      NaN       NaN      NaN
2022-10-13      NaN       NaN      NaN
2022-10-14      NaN       NaN      NaN

[1848 rows x 624 columns]

Attributes  Adj Close                                                       \
Symbols      ABEV3.SA   AMER3.SA AURE3.SA   B3SA3.SA   BBAS3.SA   BBDC3.SA
Date
2015-06-30  15.441732  19.304613      NaN   2.934543  16.309509   9.631699
2015-07-31  15.832045  17.118650      NaN   2.630275  14.811555   9.527457
2015-08-31  15.523047  14.762350      NaN   2.748285  12.068584   8.675243
2015-09-30  15.913108  14.062085      NaN   2.824768  10.458093   8.146768
2015-10-31  15.642702  13.797121      NaN   2.906350  10.987880   8.090496
...               ...        ...      ...        ...        ...        ...
2022-06-30  13.400000  13.430000    13.62  10.892418  32.994507  14.315794
2022-07-31  14.930000  14.000000    14.19  11.021616  35.554596  14.422656
2022-08-31  15.270000  16.340000    15.37  11.776930  41.412872  15.807056
2022-09-30  15.540000  16.980000    13.55  13.050000  38.520000  16.293821
2022-10-31  14.830000  17.440001    13.82  13.890000  39.160000  16.309999

Attributes                                              ...     Volume  \
Symbols      BBDC4.SA   BBSE3.SA   BRAP4.SA   BRFS3.SA  ...  IGTI11.SA
Date                                                    ...
2015-06-30   9.540177  19.669222   5.087124  63.513855  ...        NaN
2015-07-31   9.227567  18.622742   4.748949  70.009506  ...        NaN
2015-08-31   7.745592  17.079344   4.526720  67.720337  ...        NaN
2015-09-30   7.203962  14.764411   3.961483  68.762627  ...        NaN
2015-10-31   7.068889  15.829635   3.985638  58.544189  ...        NaN
...               ...        ...        ...        ...  ...        ...
2022-06-30  17.130053  25.070002  25.240000  13.590000  ...  2585000.0
2022-07-31  17.378143  27.996124  22.480000  15.960000  ...  1925700.0
2022-08-31  18.924238  28.280001  21.889999  15.850000  ...  4563200.0
2022-09-30  19.822250  26.570000  23.760000  12.880000  ...  2069700.0
2022-10-31  19.690001  27.500000  24.250000  13.840000  ...  1701900.0

Attributes                                                                 \
Symbols       CMIN3.SA   RRRP3.SA   POSI3.SA   SLCE3.SA HGTX3.SA JPSA3.SA
Date
2015-06-30         NaN        NaN   209800.0   347160.0      NaN      NaN
2015-07-31         NaN        NaN    37200.0   311740.0      NaN      NaN
2015-08-31         NaN        NaN   108700.0   374220.0      NaN      NaN
2015-09-30         NaN        NaN    24600.0   184800.0      NaN      NaN
2015-10-31         NaN        NaN    32100.0   422180.0      NaN      NaN
...                ...        ...        ...        ...      ...      ...
2022-06-30  16174500.0  3583300.0  2824600.0  2686800.0      NaN      NaN
2022-07-31   8184300.0  5182300.0  1219500.0  1822800.0      NaN      NaN
2022-08-31   8855000.0  3341300.0  3404200.0  1153600.0      NaN      NaN
2022-09-30  16498500.0  3589700.0  2291900.0  2009500.0      NaN      NaN
2022-10-31  12366500.0  4539500.0  1911500.0  1272600.0      NaN      NaN

Attributes
Symbols    LCAM3.SA BIDI11.SA BIDI4.SA
Date
2015-06-30      NaN       NaN      NaN
2015-07-31      NaN       NaN      NaN
2015-08-31      NaN       NaN      NaN
2015-09-30      NaN       NaN      NaN
2015-10-31      NaN       NaN      NaN
...             ...       ...      ...
2022-06-30      NaN       NaN      NaN
2022-07-31      NaN       NaN      NaN
2022-08-31      NaN       NaN      NaN
2022-09-30      NaN       NaN      NaN
2022-10-31      NaN       NaN      NaN

[89 rows x 624 columns]

In [38]:
# adicionando linha
dados_cotacoes_mensais = dados_cotacoes_mensais.append(ultima_linha)

# removendo linha do dia 31/10
dados_cotacoes_mensais = dados_cotacoes_mensais.drop('2022-10-31', axis=0) ## axis = 0 é uma LINHA e axis = 1 é uma COLUNA

display(dados_cotacoes_mensais)

C:\Users\wallison-santos\AppData\Local\Temp\ipykernel_2916\1463895358.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dados_cotacoes_mensais = dados_cotacoes_mensais.append(ultima_linha)

Attributes  Adj Close                                                       \
Symbols      ABEV3.SA   AMER3.SA AURE3.SA   B3SA3.SA   BBAS3.SA   BBDC3.SA
Date
2015-06-30  15.441732  19.304613      NaN   2.934543  16.309509   9.631699
2015-07-31  15.832045  17.118650      NaN   2.630275  14.811555   9.527457
2015-08-31  15.523047  14.762350      NaN   2.748285  12.068584   8.675243
2015-09-30  15.913108  14.062085      NaN   2.824768  10.458093   8.146768
2015-10-31  15.642702  13.797121      NaN   2.906350  10.987880   8.090496
...               ...        ...      ...        ...        ...        ...
2022-06-30  13.400000  13.430000    13.62  10.892418  32.994507  14.315794
2022-07-31  14.930000  14.000000    14.19  11.021616  35.554596  14.422656
2022-08-31  15.270000  16.340000    15.37  11.776930  41.412872  15.807056
2022-09-30  15.540000  16.980000    13.55  13.050000  38.520000  16.293821
2022-10-14  14.830000  17.440001    13.82  13.890000  39.160000  16.309999

Attributes                                              ...     Volume  \
Symbols      BBDC4.SA   BBSE3.SA   BRAP4.SA   BRFS3.SA  ...  IGTI11.SA
Date                                                    ...
2015-06-30   9.540177  19.669222   5.087124  63.513855  ...        NaN
2015-07-31   9.227567  18.622742   4.748949  70.009506  ...        NaN
2015-08-31   7.745592  17.079344   4.526720  67.720337  ...        NaN
2015-09-30   7.203962  14.764411   3.961483  68.762627  ...        NaN
2015-10-31   7.068889  15.829635   3.985638  58.544189  ...        NaN
...               ...        ...        ...        ...  ...        ...
2022-06-30  17.130053  25.070002  25.240000  13.590000  ...  2585000.0
2022-07-31  17.378143  27.996124  22.480000  15.960000  ...  1925700.0
2022-08-31  18.924238  28.280001  21.889999  15.850000  ...  4563200.0
2022-09-30  19.822250  26.570000  23.760000  12.880000  ...  2069700.0
2022-10-14  19.690001  27.500000  24.250000  13.840000  ...  1701900.0

Attributes                                                                 \
Symbols       CMIN3.SA   RRRP3.SA   POSI3.SA   SLCE3.SA HGTX3.SA JPSA3.SA
Date
2015-06-30         NaN        NaN   209800.0   347160.0      NaN      NaN
2015-07-31         NaN        NaN    37200.0   311740.0      NaN      NaN
2015-08-31         NaN        NaN   108700.0   374220.0      NaN      NaN
2015-09-30         NaN        NaN    24600.0   184800.0      NaN      NaN
2015-10-31         NaN        NaN    32100.0   422180.0      NaN      NaN
...                ...        ...        ...        ...      ...      ...
2022-06-30  16174500.0  3583300.0  2824600.0  2686800.0      NaN      NaN
2022-07-31   8184300.0  5182300.0  1219500.0  1822800.0      NaN      NaN
2022-08-31   8855000.0  3341300.0  3404200.0  1153600.0      NaN      NaN
2022-09-30  16498500.0  3589700.0  2291900.0  2009500.0      NaN      NaN
2022-10-14  12366500.0  4539500.0  1911500.0  1272600.0      NaN      NaN

Attributes
Symbols    LCAM3.SA BIDI11.SA BIDI4.SA
Date
2015-06-30      NaN       NaN      NaN
2015-07-31      NaN       NaN      NaN
2015-08-31      NaN       NaN      NaN
2015-09-30      NaN       NaN      NaN
2015-10-31      NaN       NaN      NaN
...             ...       ...      ...
2022-06-30      NaN       NaN      NaN
2022-07-31      NaN       NaN      NaN
2022-08-31      NaN       NaN      NaN
2022-09-30      NaN       NaN      NaN
2022-10-14      NaN       NaN      NaN

[89 rows x 624 columns]

In [39]:
# Extraindo datas das carteiras

datas_carteiras = list(dados_cotacoes_mensais.index)[6:]
datas_carteiras

[Timestamp('2015-12-31 00:00:00'),
 Timestamp('2016-01-31 00:00:00'),
 Timestamp('2016-02-29 00:00:00'),
 Timestamp('2016-03-31 00:00:00'),
 Timestamp('2016-04-30 00:00:00'),
 Timestamp('2016-05-31 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-07-31 00:00:00'),
 Timestamp('2016-08-31 00:00:00'),
 Timestamp('2016-09-30 00:00:00'),
 Timestamp('2016-10-31 00:00:00'),
 Timestamp('2016-11-30 00:00:00'),
 Timestamp('2016-12-31 00:00:00'),
 Timestamp('2017-01-31 00:00:00'),
 Timestamp('2017-02-28 00:00:00'),
 Timestamp('2017-03-31 00:00:00'),
 Timestamp('2017-04-30 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2017-06-30 00:00:00'),
 Timestamp('2017-07-31 00:00:00'),
 Timestamp('2017-08-31 00:00:00'),
 Timestamp('2017-09-30 00:00:00'),
 Timestamp('2017-10-31 00:00:00'),
 Timestamp('2017-11-30 00:00:00'),
 Timestamp('2017-12-31 00:00:00'),
 Timestamp('2018-01-31 00:00:00'),
 Timestamp('2018-02-28 00:00:00'),
 Timestamp('2018-03-31 00:00:00'),
 Timestamp('2018-04-30 00:00:00'),
 Timestamp('2018-05-31 00:00:00'),
 Timestamp('2018-06-30 00:00:00'),
 Timestamp('2018-07-31 00:00:00'),
 Timestamp('2018-08-31 00:00:00'),
 Timestamp('2018-09-30 00:00:00'),
 Timestamp('2018-10-31 00:00:00'),
 Timestamp('2018-11-30 00:00:00'),
 Timestamp('2018-12-31 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-31 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-31 00:00:00'),
 Timestamp('2019-06-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-31 00:00:00'),
 Timestamp('2019-09-30 00:00:00'),
 Timestamp('2019-10-31 00:00:00'),
 Timestamp('2019-11-30 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2020-01-31 00:00:00'),
 Timestamp('2020-02-29 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-04-30 00:00:00'),
 Timestamp('2020-05-31 00:00:00'),
 Timestamp('2020-06-30 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2020-08-31 00:00:00'),
 Timestamp('2020-09-30 00:00:00'),
 Timestamp('2020-10-31 00:00:00'),
 Timestamp('2020-11-30 00:00:00'),
 Timestamp('2020-12-31 00:00:00'),
 Timestamp('2021-01-31 00:00:00'),
 Timestamp('2021-02-28 00:00:00'),
 Timestamp('2021-03-31 00:00:00'),
 Timestamp('2021-04-30 00:00:00'),
 Timestamp('2021-05-31 00:00:00'),
 Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-07-31 00:00:00'),
 Timestamp('2021-08-31 00:00:00'),
 Timestamp('2021-09-30 00:00:00'),
 Timestamp('2021-10-31 00:00:00'),
 Timestamp('2021-11-30 00:00:00'),
 Timestamp('2021-12-31 00:00:00'),
 Timestamp('2022-01-31 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-03-31 00:00:00'),
 Timestamp('2022-04-30 00:00:00'),
 Timestamp('2022-05-31 00:00:00'),
 Timestamp('2022-06-30 00:00:00'),
 Timestamp('2022-07-31 00:00:00'),
 Timestamp('2022-08-31 00:00:00'),
 Timestamp('2022-09-30 00:00:00'),
 Timestamp('2022-10-14 00:00:00')]

In [40]:
# Preencher dados NaN com zeros para calcular o retorno
dados_cotacoes_mensais = dados_cotacoes_mensais.fillna(0)
dados_cotacoes_mensais

Attributes  Adj Close                                                       \
Symbols      ABEV3.SA   AMER3.SA AURE3.SA   B3SA3.SA   BBAS3.SA   BBDC3.SA
Date
2015-06-30  15.441732  19.304613     0.00   2.934543  16.309509   9.631699
2015-07-31  15.832045  17.118650     0.00   2.630275  14.811555   9.527457
2015-08-31  15.523047  14.762350     0.00   2.748285  12.068584   8.675243
2015-09-30  15.913108  14.062085     0.00   2.824768  10.458093   8.146768
2015-10-31  15.642702  13.797121     0.00   2.906350  10.987880   8.090496
...               ...        ...      ...        ...        ...        ...
2022-06-30  13.400000  13.430000    13.62  10.892418  32.994507  14.315794
2022-07-31  14.930000  14.000000    14.19  11.021616  35.554596  14.422656
2022-08-31  15.270000  16.340000    15.37  11.776930  41.412872  15.807056
2022-09-30  15.540000  16.980000    13.55  13.050000  38.520000  16.293821
2022-10-14  14.830000  17.440001    13.82  13.890000  39.160000  16.309999

Attributes                                              ...     Volume  \
Symbols      BBDC4.SA   BBSE3.SA   BRAP4.SA   BRFS3.SA  ...  IGTI11.SA
Date                                                    ...
2015-06-30   9.540177  19.669222   5.087124  63.513855  ...        0.0
2015-07-31   9.227567  18.622742   4.748949  70.009506  ...        0.0
2015-08-31   7.745592  17.079344   4.526720  67.720337  ...        0.0
2015-09-30   7.203962  14.764411   3.961483  68.762627  ...        0.0
2015-10-31   7.068889  15.829635   3.985638  58.544189  ...        0.0
...               ...        ...        ...        ...  ...        ...
2022-06-30  17.130053  25.070002  25.240000  13.590000  ...  2585000.0
2022-07-31  17.378143  27.996124  22.480000  15.960000  ...  1925700.0
2022-08-31  18.924238  28.280001  21.889999  15.850000  ...  4563200.0
2022-09-30  19.822250  26.570000  23.760000  12.880000  ...  2069700.0
2022-10-14  19.690001  27.500000  24.250000  13.840000  ...  1701900.0

Attributes                                                                 \
Symbols       CMIN3.SA   RRRP3.SA   POSI3.SA   SLCE3.SA HGTX3.SA JPSA3.SA
Date
2015-06-30         0.0        0.0   209800.0   347160.0      0.0      0.0
2015-07-31         0.0        0.0    37200.0   311740.0      0.0      0.0
2015-08-31         0.0        0.0   108700.0   374220.0      0.0      0.0
2015-09-30         0.0        0.0    24600.0   184800.0      0.0      0.0
2015-10-31         0.0        0.0    32100.0   422180.0      0.0      0.0
...                ...        ...        ...        ...      ...      ...
2022-06-30  16174500.0  3583300.0  2824600.0  2686800.0      0.0      0.0
2022-07-31   8184300.0  5182300.0  1219500.0  1822800.0      0.0      0.0
2022-08-31   8855000.0  3341300.0  3404200.0  1153600.0      0.0      0.0
2022-09-30  16498500.0  3589700.0  2291900.0  2009500.0      0.0      0.0
2022-10-14  12366500.0  4539500.0  1911500.0  1272600.0      0.0      0.0

Attributes
Symbols    LCAM3.SA BIDI11.SA BIDI4.SA
Date
2015-06-30      0.0       0.0      0.0
2015-07-31      0.0       0.0      0.0
2015-08-31      0.0       0.0      0.0
2015-09-30      0.0       0.0      0.0
2015-10-31      0.0       0.0      0.0
...             ...       ...      ...
2022-06-30      0.0       0.0      0.0
2022-07-31      0.0       0.0      0.0
2022-08-31      0.0       0.0      0.0
2022-09-30      0.0       0.0      0.0
2022-10-14      0.0       0.0      0.0

[89 rows x 624 columns]

In [41]:
df_retornos = dados_cotacoes_mensais.pct_change().replace([np.inf, -np.inf, -1], 0)
df_retornos

Attributes Adj Close                                                    \
Symbols     ABEV3.SA  AMER3.SA  AURE3.SA  B3SA3.SA  BBAS3.SA  BBDC3.SA
Date
2015-06-30       NaN       NaN       NaN       NaN       NaN       NaN
2015-07-31  0.025276 -0.113235       NaN -0.103685 -0.091845 -0.010823
2015-08-31 -0.019517 -0.137645       NaN  0.044866 -0.185191 -0.089448
2015-09-30  0.025128 -0.047436       NaN  0.027829 -0.133445 -0.060918
2015-10-31 -0.016993 -0.018842       NaN  0.028881  0.050658 -0.006907
...              ...       ...       ...       ...       ...       ...
2022-06-30 -0.055673 -0.331841 -0.024355 -0.131662 -0.081668 -0.137405
2022-07-31  0.114179  0.042442  0.041850  0.011861  0.077591  0.007465
2022-08-31  0.022773  0.167143  0.083157  0.068530  0.164768  0.095988
2022-09-30  0.017682  0.039168 -0.118412  0.108099 -0.069854  0.030794
2022-10-14 -0.045689  0.027091  0.019926  0.064368  0.016615  0.000993

Attributes                                          ...    Volume            \
Symbols     BBDC4.SA  BBSE3.SA  BRAP4.SA  BRFS3.SA  ... IGTI11.SA  CMIN3.SA
Date                                                ...
2015-06-30       NaN       NaN       NaN       NaN  ...       NaN       NaN
2015-07-31 -0.032768 -0.053204 -0.066477  0.102271  ...       NaN       NaN
2015-08-31 -0.160603 -0.082877 -0.046795 -0.032698  ...       NaN       NaN
2015-09-30 -0.069927 -0.135540 -0.124867  0.015391  ...       NaN       NaN
2015-10-31 -0.018750  0.072148  0.006098 -0.148605  ...       NaN       NaN
...              ...       ...       ...       ...  ...       ...       ...
2022-06-30 -0.151389 -0.034226 -0.116865 -0.131629  ... -0.033103  1.565060
2022-07-31  0.014483  0.116718 -0.109350  0.174393  ... -0.255048 -0.494000
2022-08-31  0.088968  0.010140 -0.026246 -0.006892  ...  1.369632  0.081950
2022-09-30  0.047453 -0.060467  0.085427 -0.187382  ... -0.546437  0.863185
2022-10-14 -0.006672  0.035002  0.020623  0.074534  ... -0.177707 -0.250447

Attributes                                                                     \
Symbols     RRRP3.SA  POSI3.SA  SLCE3.SA HGTX3.SA JPSA3.SA LCAM3.SA BIDI11.SA
Date
2015-06-30       NaN       NaN       NaN      NaN      NaN      NaN       NaN
2015-07-31       NaN -0.822688 -0.102028      NaN      NaN      NaN       NaN
2015-08-31       NaN  1.922043  0.200423      NaN      NaN      NaN       NaN
2015-09-30       NaN -0.773689 -0.506173      NaN      NaN      NaN       NaN
2015-10-31       NaN  0.304878  1.284524      NaN      NaN      NaN       NaN
...              ...       ...       ...      ...      ...      ...       ...
2022-06-30 -0.424305  0.826565  0.205708      NaN      NaN      NaN       NaN
2022-07-31  0.446237 -0.568257 -0.321572      NaN      NaN      NaN       NaN
2022-08-31 -0.355248  1.791472 -0.367127      NaN      NaN      NaN       NaN
2022-09-30  0.074342 -0.326743  0.741938      NaN      NaN      NaN       NaN
2022-10-14  0.264590 -0.165976 -0.366708      NaN      NaN      NaN       NaN

Attributes
Symbols    BIDI4.SA
Date
2015-06-30      NaN
2015-07-31      NaN
2015-08-31      NaN
2015-09-30      NaN
2015-10-31      NaN
...             ...
2022-06-30      NaN
2022-07-31      NaN
2022-08-31      NaN
2022-09-30      NaN
2022-10-14      NaN

[89 rows x 624 columns]